%section#audio

- @project.utterances.each do |ut|
  .utterance
    %label 
      = link_to ut.wav, ut.wav_url
      %audio{controls: "controls", source: URI.join(request.url,ut.wav_url)}
      = link_to "destroy", ut, method: :delete
    
      